.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .chart {
    width: 80%;
    height: 300px;
    margin-bottom: 40px;
  }