
<div class="dashboard-container">

  <!-- Indicadores -->
  <div class="card" *ngIf="indicadores">
    <p>Total de Clientes: {{indicadores.totalClientes}}</p>
    <p>Total de Planos: {{indicadores.totalPlanos}}</p>
    <p>Média de Planos por Cliente: {{indicadores.mediaPlanosPorCliente}}</p>
  </div>

  <!-- Gráfico de Pizza -->
  <div class="chart">
    <canvas *ngIf="pieChartData" baseChart 
            [data]="pieChartData" 
            [type]="'pie'" 
            [options]="{ responsive: true, maintainAspectRatio: false }">
    </canvas>
  </div>

  <!-- Gráfico de Barras -->
  <div class="chart">
    <canvas *ngIf="barChartData" baseChart 
            [data]="barChartData" 
            [type]="'bar'" 
            [options]="{ responsive: true, maintainAspectRatio: false }">
    </canvas>
  </div>

</div>